/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
  position: relative;
  max-height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header, section, main, footer {
  width: 100%; }

body {
  background-color: #fff; }

.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

header {
  width: 100%;
  background-color: #fff;
  height: 97px; }
  header section {
    width: 100%;
    padding: 0 5vw; }
  header h1 {
    padding-top: 8px;
    float: left; }
    header h1 a {
      display: block;
      padding-left: 97px;
      padding-top: 13px;
      height: 80px;
      background: url("../img/logo.png") no-repeat 0 50%/80px 80px;
      color: #000;
      font-size: 20px; }
      header h1 a span {
        text-transform: uppercase;
        font-size: 36px; }
      header h1 a em {
        font-style: normal; }
  header a.sandwich-menu {
    display: none;
    position: relative;
    z-index: 90;
    width: 30px;
    height: 30px;
    float: right;
    margin: 30px 10px 0 0; }
    header a.sandwich-menu span {
      float: left;
      width: 100%;
      height: 5px;
      background-color: #000;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      header a.sandwich-menu span + span {
        margin-top: 5px; }
    header a.sandwich-menu.active span:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(14px, 14px);
          -ms-transform: rotate(45deg) translate(14px, 14px);
              transform: rotate(45deg) translate(14px, 14px); }
    header a.sandwich-menu.active span:nth-child(2) {
      opacity: 0; }
    header a.sandwich-menu.active span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  header nav {
    float: right;
    margin-top: 35px; }
    header nav > ul {
      float: left; }
      header nav > ul > li {
        float: left;
        position: relative;
        padding: 0 10px; }
        header nav > ul > li + li {
          margin-left: 15px; }
        header nav > ul > li:hover > a {
          text-decoration: underline; }
        header nav > ul > li:hover .sub_menu {
          display: block; }
          header nav > ul > li:hover .sub_menu a:hover {
            text-decoration: underline; }
        header nav > ul > li.active > a {
          text-decoration: underline; }
        header nav > ul > li a {
          color: #000;
          font-size: 22px;
          line-height: 30px; }
    header nav .sub_menu {
      position: absolute;
      background-color: #fff;
      padding: 5px;
      min-width: 100%;
      top: 100%;
      left: 0;
      z-index: 20;
      display: none;
      -webkit-border-radius: 0 0 5px 5px;
              border-radius: 0 0 5px 5px; }
      header nav .sub_menu li {
        float: left;
        width: 100%;
        text-align: center; }

main {
  height: -webkit-calc(100vh - 162px);
  height: calc(100vh - 162px);
  position: relative; }
  main.footIn {
    height: -webkit-calc(100vh - 97px);
    height: calc(100vh - 97px);
    padding-bottom: 65px; }
  main.shown {
    overflow: auto; }
  main.no-padding {
    padding-bottom: 0; }
  main footer {
    margin-bottom: -65px; }
  main section {
    display: block;
    width: 100%;
    min-height: 100%;
    max-width: 1400px;
    padding: 0 1%;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
    main section.wide {
      margin: 0;
      max-width: 100%;
      height: 100%;
      padding: 0;
      background: url("../img/img_01.jpg") no-repeat 50% 50%/cover; }
      main section.wide.flat {
        background: url("../img/img_02.png") no-repeat 50% 50%/cover; }
      main section.wide h2 {
        font-size: 5vw;
        color: #fff;
        margin-top: 10vh;
        padding-left: 5vw;
        float: left; }
      main section.wide section {
        max-width: 100%;
        height: 100%;
        margin: 0 auto; }
      main section.wide .btn-box {
        position: absolute;
        left: 5vw;
        bottom: 44px; }
        main section.wide .btn-box a.btn {
          display: inline-block;
          max-width: 210px;
          max-height: 65px;
          width: 100%;
          height: 100%; }
          main section.wide .btn-box a.btn + .btn {
            margin-left: 25px; }
          main section.wide .btn-box a.btn img {
            width: 100%;
            height: 100%;
            display: inline-block; }
    main section .visual {
      float: right;
      width: 50%;
      height: 100%; }
      main section .visual.alt .devices {
        margin-top: -4vh;
        margin-right: 0; }
        main section .visual.alt .devices img {
          max-width: 80%; }
      main section .visual .devices {
        padding-right: 10vw;
        padding-top: 6vh;
        padding-bottom: 30px;
        height: 100%;
        float: right;
        text-align: right; }
        main section .visual .devices img {
          max-width: 100%;
          max-height: 100%;
          display: inline-block;
          border: none; }
    main section .textBox {
      float: left;
      padding-top: 25px;
      width: 35%;
      font-size: 16px;
      line-height: 1.5; }
    main section .contact li {
      float: left;
      width: 100%;
      font-size: 16px;
      line-height: 1.5; }
    main section .bigTitle {
      float: left;
      width: 100% !important;
      height: 125px;
      min-height: 125px;
      position: relative;
      text-align: center;
      margin: 0 !important; }
      main section .bigTitle:after {
        display: block;
        content: '';
        position: absolute;
        top: 61px;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 2px;
        background-color: #000; }
    main section article h4 {
      text-align: center;
      margin: 10px 0; }
    main section h3 {
      display: inline-block;
      font-size: 65px;
      padding: 25px;
      background-color: #fff;
      position: relative;
      z-index: 14;
      text-transform: uppercase; }
    main section h4 {
      font-size: 24px;
      line-height: 32px; }
    main section h5 {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 15px; }
    main section figure {
      float: left;
      width: 550px;
      min-height: 250px;
      height: auto;
      background-color: #f6f6f6;
      text-align: center;
      margin: 0 25px 10px 0; }
      main section figure img {
        display: inline-block;
        width: 100%;
        height: auto; }
    main section p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px; }
    main section ul {
      margin-bottom: 15px; }
      main section ul.pp {
        list-style: disc;
        padding-left: 30px; }
        main section ul.pp li {
          font-size: 16px;
          line-height: 1.5; }
          main section ul.pp li + li {
            margin-top: 16px; }
    main section .block {
      float: left;
      width: 100%;
      padding-bottom: 30px; }
      main section .block.team h4 {
        margin: 20px 0; }
      main section .block a {
        float: left;
        width: 200px;
        height: 150px;
        background-color: #f6f6f6;
        margin-right: 25px;
        margin-bottom: 10px; }
        main section .block a.avatar {
          width: 150px;
          overflow: hidden;
          text-align: center; }
          main section .block a.avatar img {
            line-height: 150px; }
        main section .block a img {
          width: 100%;
          height: auto;
          display: inline-block; }
    main section .more {
      background-color: #ff0000;
      text-transform: uppercase;
      color: #fff;
      line-height: 33px;
      font-size: 16px;
      padding: 0 35px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      display: inline-block; }
  main .itemBlock {
    padding-top: 0; }
    main .itemBlock div {
      width: 100%;
      margin-top: 10px; }
      main .itemBlock div.container > div {
        float: left;
        width: 49%;
        margin-right: 1%;
        margin-bottom: 2%;
        position: relative;
        min-height: 200px;
        max-height: 250px;
        padding: 0;
        overflow: hidden; }
        main .itemBlock div.container > div:nth-child(even) {
          float: right;
          margin-right: 0;
          margin-left: 1%; }
        main .itemBlock div.container > div a {
          display: block;
          position: relative;
          z-index: 3;
          width: 100%;
          height: 100%;
          min-height: 150px;
          margin: 0;
          border: 1px solid #999; }
          main .itemBlock div.container > div a img {
            display: inline-block;
            border: none;
            width: 100%;
            height: auto; }
        main .itemBlock div.container > div .caption {
          display: block;
          position: absolute;
          z-index: 30;
          left: 0;
          bottom: 0;
          width: 100%;
          min-height: 50px;
          background-color: rgba(0, 0, 0, 0.4);
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          line-height: 1.2;
          padding: 15px 5px 5px;
          text-transform: uppercase;
          color: #fff;
          margin: 0; }
  main form {
    float: left;
    width: 100%;
    margin-top: 3vh; }
    main form .column {
      float: left;
      width: 49%; }
      main form .column + .column {
        margin-left: 2%; }
      main form .column input {
        float: left;
        width: 100%;
        border: 2px solid #333;
        padding: 0 10px;
        height: 34px;
        font-size: 16px;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
        main form .column input + input {
          margin-top: 16px; }
      main form .column textarea {
        resize: none;
        overflow: auto;
        padding: 10px;
        border: 2px solid #333;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        font-size: 16px;
        height: 134px;
        width: 99%;
        float: right; }
    main form h4 {
      padding-bottom: 30px; }
    main form input[type=submit] {
      color: #fff;
      background-color: #ff0000;
      border: none;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      width: 350px;
      height: 46px;
      text-align: center;
      line-height: 46px;
      font-size: 16px;
      font-weight: bold;
      text-transform: capitalize;
      margin-top: 2vh;
      float: right; }

footer {
  width: 100%;
  padding: 0 5vw;
  height: 65px;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 60;
  background-color: #fff; }
  footer .socials {
    padding-top: 25px;
    float: left; }
    footer .socials li {
      float: left;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 24px; }
      footer .socials li + li {
        margin-left: 15px; }
    footer .socials a {
      display: block;
      width: 24px;
      height: 24px;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      footer .socials a:hover {
        -webkit-box-shadow: 0 1px 2px 2px #666;
                box-shadow: 0 1px 2px 2px #666; }
      footer .socials a img {
        width: 100%;
        height: 100%;
        border: none;
        display: inline-block; }
  footer div {
    float: right; }
    footer div p {
      float: left;
      margin-top: 25px;
      margin-right: 10px;
      line-height: 24px; }
    footer div ul {
      float: left;
      padding-top: 25px; }
      footer div ul li {
        float: left;
        margin-right: 10px; }
        footer div ul li:last-child {
          margin-right: 0; }
      footer div ul a {
        color: #000;
        line-height: 24px; }
        footer div ul a:hover {
          text-decoration: underline; }

@media screen and (max-width: 980px) {
  .wrapper {
    height: auto; }
  header section {
    padding: 0 10px; }
  header a.sandwich-menu {
    display: block; }
  header nav {
    display: none;
    position: absolute;
    z-index: 60;
    background-color: #fff;
    width: 50%;
    top: 10px;
    right: 0;
    -webkit-box-shadow: -4px 8px 8px 0px #999;
            box-shadow: -4px 8px 8px 0px #999; }
    header nav.active {
      display: block; }
    header nav ul {
      width: 100%; }
      header nav ul li {
        width: 100%; }
        header nav ul li + li {
          margin-left: 0; }
        header nav ul li:hover li {
          text-align: left; }
        header nav ul li .sub_menu {
          display: block;
          position: relative;
          left: 0;
          top: 0;
          width: 100%;
          padding-left: 15px; }
          header nav ul li .sub_menu li {
            width: 100%;
            text-align: left; }
  main section.wide .btn-box {
    position: absolute;
    left: 2vw;
    bottom: 5vh; }
    main section.wide .btn-box a.btn {
      max-width: 180px; }
  footer {
    height: auto;
    min-height: 65px;
    padding: 0 1vw; }
    footer section {
      padding: 0; } }

@media screen and (max-width: 768px) {
  header {
    padding: 0 10px; }
    header section {
      padding: 0; }
    header .logo em {
      display: none; }
    header .logo span {
      display: none; }
  main {
    padding-bottom: 180px;
    height: auto;
    min-height: 100%; }
    main.footIn {
      height: auto; }
    main footer {
      margin-top: 0; }
    main section {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin: 0; }
      main section.wide {
        background: url("../img/home_screen_picture.jpg") no-repeat 50% 50%/cover; }
        main section.wide .btn-box {
          position: relative;
          left: 0;
          bottom: 0;
          float: left;
          width: 100%;
          padding: 0 1%;
          margin-bottom: 2vh; }
          main section.wide .btn-box a.btn {
            float: left;
            width: 49%;
            max-width: 49%;
            max-height: 115px; }
            main section.wide .btn-box a.btn + .btn {
              margin-left: 2%; }
      main section .visual {
        width: 100%;
        height: auto; }
        main section .visual .devices {
          padding-right: 1vw;
          text-align: center; }
        main section .visual.alt {
          float: left;
          width: 100%;
          padding: 0 1vw; }
          main section .visual.alt .devices {
            padding: 0; }
            main section .visual.alt .devices img {
              max-width: 100%; }
      main section.itemBlock .container .block {
        width: 98%;
        margin-left: 1%; }
        main section.itemBlock .container .block:nth-child(2n) {
          margin-right: 1%; }
      main section .bigTitle {
        min-height: 80px;
        height: auto; }
        main section .bigTitle:after {
          top: 35px; }
        main section .bigTitle h3 {
          font-size: 25px; }
      main section .textBox {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%; }
      main section article .block.team a.avatar {
        width: 98%;
        text-align: center;
        margin: 0 1%;
        height: auto; }
      main section article .block.team h4 {
        margin: 20px 0;
        float: left;
        width: 100%;
        text-align: center; }
      main section article h4 {
        text-align: center;
        margin: 10px 0; }
      main section article p {
        padding: 0 10px; }
      main section .contact {
        padding-left: 1%; }
      main section figure {
        width: 100%;
        padding: 0 1%; }
      main section form .column {
        width: 98%;
        margin: 0 1% 1%; }
        main section form .column + .column {
          margin-left: 1%; }
        main section form .column textarea {
          width: 100%; }
      main section form h4 {
        padding-left: 1%; }
      main section form input[type="submit"] {
        width: 98%;
        margin: 1% 1% 0; }
  footer {
    margin-top: -180px;
    height: 180px;
    position: relative; }
    footer .socials {
      padding: 15px 10px 0;
      float: left;
      width: 100%;
      text-align: center; }
      footer .socials li {
        float: none;
        display: inline-block; }
        footer .socials li:first-child {
          display: none; }
    footer div {
      width: 100%; }
      footer div p {
        width: 100%;
        margin-right: 0;
        text-align: center; }
      footer div ul {
        width: 100%;
        text-align: center; }
        footer div ul li {
          float: none;
          display: inline-block; } }
